body{

    background-color: rgb(156, 210, 214);
    margin-left: 100px;
    margin-right: 200px;
}
header{
    margin-top: 100px;
}
footer{
    margin-bottom: 30px;
}

h1{
    color: rgb(73, 49, 4);
    font-family: fantasy;
}
h2{
    color:red;
    font-family: fantasy;
}
p{
    font-size: 18px;
}
.img_padrao{
    margin-bottom: 20px;
    width: 300px;

}.logo{
    width: 80px;
}
